@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

:root {
  font-family: 'Rubik', sans-serif;
  --text: #3D4044;
  --text-light: #959595;
  --text-blue: #3E65BE;
  --light-blue: #7EA4E7;
  --text-regular: 400;
  --text-medium: 500;
  --text-bold: 700;
}

button {
  font-family: 'Rubik', sans-serif;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100vh;
  background-color: #FBFAF9;
  color: var(--text);
}

.flex {
  display: flex;
}

.text-light {
  color: var(--text-light);
}

.align-c {
  align-items: center;
}

.text-medium {
  font-weight: var(--text-medium);
}

.btn {
  font-weight: var(--text-bold);
  font-size: 11px;
  text-transform: uppercase;
  color: var(--text);
  text-align: center;
  padding: 9px 22px;
  letter-spacing: 0.5px;
  background-color: #C6D2E5;
  transition: .2s;
}

.btn:hover {
  background-color: var(--light-blue);
}